* {
	font-family: "Times New Roman", Times, Serif;
}

div {
	font-size: 21px;
}

body {
	width: 95%;
	min-width: 1000px;
	margin: 0 auto;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 0px;
}

h3 {
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 22px;
}

hr {
	margin-top: 2px;
	margin-bottom: 5px;
}

ul {
	margin-top: 0px;
	margin-bottom: 5px;
	padding-left: 20px;
}

li {
	font-size: 19px;
	margin-left: 15px;
}

#links, #contact, #headerColumns {
	font-size: 22px;
	margin-top: 0px;
}

.link {
	color: blue;
}

.columns {
	display: block;
}

.left {
	float: left;
	text-align: left;
}

.right {
	float: right;
	text-align: right;
}

.clear {
	clear: both;
}
