* {
	font-family: "Times New Roman", Times, Serif;
}

a {
	color: blue;
}

body {
	width: 95%;
	min-width: 1000px;
	margin: 0 auto;
}

h2 {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 5px;
}

h3 {
	margin-top: 10px;
	margin-bottom: 0px;
}

hr {
	margin-top: 2px;
	margin-bottom: 5px;
}

ul {
	margin-top: 0px;
	margin-bottom: 5px;
	padding-left: 20px;
}

.columns {
	display: block;
}

.left {
	float: left;
	text-align: left;
}

.right {
	float: right;
	text-align: right;
}

.clear {
	clear: both;
}

@media print {
	body {
		width: 98%;
		margin-top: -4mm;
		margin-bottom: -4mm;
		margin-left: 0mm;
		margin-right: 0mm;
	}
}